html, body, div, legend, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-align: center;
}

/* HTML5 display-role reset for older browsers */
header {
	display: block;
}

body {
  line-height: 1;
  background-color: #036;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;

	& main {
		position: relative;

		& .states {
			stroke: #fff;
			fill: none;
			stroke-linejoin: round;
		}

		& .counties {
			fill: none;
		}

		& div.tooltip {
			position: absolute;
			padding: 4px;
			background-color: rgba(70, 70, 70, 255);
			border-radius: 20px;
		}
	}
}